html {
    scroll-behavior: smooth;
    background-color: black;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
main {
    margin: 0 60px;
}
nav {
    background-color: #C69749;
    opacity: 80%;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
#logo-nav {
    color: white;
    display: flex;
    margin-left: 40px;

}
nav #enlaces {
    margin: 10px 0px 0 0;
    padding-right: 30px;
}
nav #enlaces a{
    color: black;
    font-size: 18px;
    margin: 10px;
    text-decoration:none;
    font-weight: 600;
}
nav #enlaces a::before {
    content: "|";
    margin: 0 20px;
    box-sizing: border-box;
}
#titulo-div {
    text-align:center;
    margin-top: 20px;
}
#titulo {
    color: white;
    display: inline-block;
    font-size: 40px;
    border: 1px solid white;
    padding: 10px 50px;
}
h2 {
    margin: 20px 10px;
    background-color: #C69749;
    opacity: 90%;
    border: 1px dotted white;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    border-radius: 20px;
}
p {
    font-size: 20px;
    margin: 0 30px;
    color: white;
}
li {
    font-size: 20px;
    margin: 0 20px;
    color: white;
}
#titulo-contactanos {
    margin: 50px 10px 20px;
    background-color: black;
    opacity: 90%;
    border: 2px dotted #C69749;
    display: inline-block;
    padding: 10px 25px;
    color: #C69749;
    border-radius: 20px;
}
#contacto-div a{
    font-size: 20px;
    margin: 0 20px;
    color: white;
    text-decoration:none;
}
#contacto {
    font-size: 20px;
    margin: 0 20px;
    color: white;
    text-decoration:none;
}
footer {
    background-color: #C69749;
    color: white;
    padding: 20px;
    text-align:center;
    font-size: 26px;
    margin-top: 30px;

}